parameters:
    level: 8
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Trait WagLabs\\PawfectPHP\\Assertions\\.+ is used zero times and is not analysed.#'
